body{
	box-sizing: border-box;
    /*display: inline-block;*/
}



h1 {
  font: 15px "avenir", sans-serif;
  margin-left: 40px;
  padding-top: 40px;
  padding-bottom: 20px;
  letter-spacing: 3px;
  width: 100%;
	text-decoration: none;
}

a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

ul {
    list-style-type: none;
    font: 12px "avenir", sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

li {
	width: 100%;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color: #d1d1d1;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

divpicture img {
	display: block;
	max-width: 100%;
	height: auto;
}

div.navigation {
	margin: 0;
	margin-left: 40px;
	padding: 0;
    width: 10%;
    height: 100%;
  	float: left;
    display: block;
    box-sizing: border-box;
    position: -webkit-sticky;
    position: sticky;
    top: 20px;
    z-index: 100;
}

div.content {
  	display: inline-block;
  	margin-left: 5%;
  	float: left;
	width: 75%;
	/*background-color: green;*/
}

div.column1 {
	width: 60%;
	float: left;
	/*background-color: blue;*/
}

div.column2 {
	width: 40%;
	float: left;
	/*background-color: yellow;*/
}

div.icon {
	width: 100%;
	display: inline-block;
}

div.icon p {
	padding-top: 5px;
	padding-right: 10px;
	display: inline-block;
	font-family: 'Old Standard TT', serif;
	font-size: 13px;
}

span {
	line-height: 1.2;
}

div.icon::after {
	clear: both;
}

div.text {
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	font-family: 'Old Standard TT', serif;
	font-size: 14px;
	margin: 20%;
}

divpicture {
	padding: 2px;
	position: relative;
 	display: block;
}

divpicture:hover .image {
	opacity: 0.3;
}

divpicture:hover .overlayBox {
	opacity: 1;
}

div.image {
	opacity: 1;
	display: block;
	width: 100%;
	height: auto;
	transition: .5s ease;
	backface-visibility: hidden;
    position: relative;
}

div.overlayBox {
	float: unset;
	transition: .5s ease;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%)
}

div.overlayText {
	background-color: #555;
	color: white;
	font-size: 15px;
	font-family: 'Old Standard TT', serif;
	padding: 16px 32px;
  text-align: center;
}


/* The grid: Four equal columns that floats next to each other */
.column {
    float: left;
    width: 40%;
    margin: 2px;
    display: inline-grid;
}

/* Style the images inside the grid */
.column img {
    opacity: 0.8;
    cursor: pointer;
}

.column img:hover {
    opacity: 1;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* The expanding image container */
.container {
    position: relative;
    display: block;
		padding: 2px;
}

/* Expanding image text */
#imgtext {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 12px;
}

/*
	Events
*/
@media screen and (max-width: 800px) {
    div.navigation {
        /*float: none;*/
        width: 100%;
        height: 10%;
        top: 0px;
        margin-bottom: 20px;
        margin-left: 0px;
        box-sizing: border-box;
        background-color: white;
        padding-top: 4px;
        padding-bottom: 2px;
        padding-left: 20px;
				padding-right: 20px;
    }

    /*h1 {
    	text-align: center;
			margin: 0;
    }*/

    li {
    	width: unset;
			float:left;
    }

    div.content {
    	padding-top: 20px;
    	padding-left: 20px;
			/*padding-right: 10%;*/
    	width: 85%;
    }
}

@media screen and (max-width: 550px) {
    div.column1 {
        float: none;
        width: 100%;
    }

    div.column2 {
        float: none;
        width: 100%;
    }
}
