body {

}

h1 {
  font: 15px "avenir", sans-serif;
  margin-left: 40px;
  padding-top: 40px;
  padding-bottom: 20px;
  letter-spacing: 3px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    font: 12px "avenir", sans-serif;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color: #d1d1d1;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

div.navigation {
	min-width:  100px;
    width: 15%;
    height: 100%;
    margin: 0;
    margin-left: 40px;
    margin-right: 40px;
    padding: 0;
    position: fixed;
    box-sizing: border-box;
    overflow: auto;
  	float: left;
}

div.content {
	padding-left: 20%;
	width: 75%;
	/*background-color: green;*/
}

div.column1 {
	width: 50%;
	float: left;
	/*background-color: blue;*/
}

div.column2 {
	width: 35%;
	float: left;
	/*background-color: yellow;*/
}

divpicture {
	margin: 2px;
	position: relative;
  display: block;
}

divpicture:hover .image {
	opacity: 0.3;
}

divpicture:hover .overlayBox {
	opacity: 1;
}

div.image {
	opacity: 1;
	display: block;
	width: 100%;
	height: auto;
	transition: .5s ease;
	backface-visibility: hidden;
    position: relative;
}

div.overlayBox {
	float: unset;
	transition: .5s ease;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%)
}

div.overlayText {
	background-color: #555;
	color: white;
	font-size: 16px;
	padding: 16px 32px;
}
